@import "tailwindcss";

@theme {
  /* Nos couleurs Océan du Nord */
  --color-primary: #064e3b; /* Vert foncé */
  --color-primary-light: #10b981; /* Vert clair */
  --color-secondary: #f59e0b; /* Jaune Or */
  --color-accent: #dc2626; /* Rouge */

  --color-bg-soft: #f8fafc;

  /* Police */
  --font-sans: var(--font-poppins), ui-sans-serif, system-ui, sans-serif;

  /* Animations personnalisées */
  --animate-spin-slow: spin 3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Reset de base */
body {
  background-color: var(--color-bg-soft);
  color: #1e293b;
}
